@import "tailwindcss";

.header{
  padding: 20px;
  color: aliceblue;
  font-size: larger;
  text-align: center;
  background: linear-gradient(135deg, rgb(5, 40, 144) 0%, rgb(5, 111, 149) 100%)
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.opciones{
  color: aliceblue;
  background: rgb(30, 114, 232);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* .container{
  display: flex;
  gap: 10px; 
  font-size: medium;
  align-items: center;
} */
/* app/page.module.css */
/* #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 2rem;
} */

/* #title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
} */

/* #buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

/* #button {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
} */
/* 
#button:hover {
  background-color: #0051a2;
  transform: scale(1.05);
} */

